<section class="py-20 md:py-28">
  <div class="container mx-auto px-4">
    <div class="max-w-3xl mx-auto text-center">
      <!-- Gradient heading -->
      <h1
        class="text-4xl md:text-5xl font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-[var(--tw-primary-light)] to-[var(--tw-primary-dark)]"
      >
        Record Your Thoughts, <br />
        Locally
      </h1>

      <!-- Subheading -->
      <p class="mt-6 text-xl text-[var(--tw-text-muted)]">
        A minimalist voice-first note-taking experience designed for clarity and
        focus.
      </p>

      <!-- CTA Buttons -->
      <div class="mt-10 flex flex-row gap-4 justify-center">
        <app-button [link]="'/notes'" [queryParams]="{ CTA: 'true' }">
          <app-microphone-icon [size]="16" />
          <span class="font-bold text-white"> Record </span>
        </app-button>
        <app-button variant="outline" [link]="'/notes'">
          <span class="font-bold text-black"> View Notes </span>
        </app-button>
      </div>
    </div>
  </div>
</section>
