<div class="min-h-screen flex flex-col">
  @if(withNavbar()) {
  <app-navbar></app-navbar>
  }
  <main
    class="flex-1 flex flex-col"
    [ngClass]="{
      'pt-16': withNavbar(),
      'pb-28 md:pb-0': true,
      'container mx-auto px-4': !fullWidth()
    }"
  >
    <div class="flex-1">
      <ng-content></ng-content>
    </div>

    @if(withFooter()) {
    <app-footer class="mt-auto" />
    }
  </main>

  <!-- Mobile Navigation - only show on mobile devices and when enabled -->
  @if(withMobileNav()) {
  <app-mobile-navigation [onNewNote]="onNewNote" />
  }
</div>
