<div class="space-y-2">
  <label for="note-name" class="text-sm text-[var(--tw-border-dark)]">
    Note Name
  </label>
  <input
    id="note-name"
    type="text"
    name="noteName"
    [(ngModel)]="noteName"
    class="w-full p-3 border border-[var(--tw-border-light)] rounded-lg bg-[var(--tw-bg-light)] text-[var(--tw-primary-dark)] focus:ring-2 focus:ring-[var(--tw-primary)] focus:border-transparent transition-shadow duration-150 ease-in-out placeholder:text-slate-400"
    placeholder="e.g., Meeting Summary"
    maxlength="100"
  />
</div>
