<nav
  class="fixed top-0 w-full z-50 transition-all duration-300 bg-[var(--tw-bg)]/80 backdrop-blur-md shadow-sm"
>
  <div class="container mx-auto px-8 h-16 flex items-center justify-between">
    <!-- Logo -->
    <a routerLink="/" class="flex items-center gap-2">
      <span
        class="text-xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-[var(--tw-primary-light)] to-[var(--tw-primary-dark)]"
      >
        Notis.nu
      </span>
    </a>

    <!-- Desktop Navigation -->
    <div class="flex items-center gap-6">
      <a
        routerLink="/"
        routerLinkActive="nav-link-active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="px-3 py-2 rounded-md transition-all duration-200 ease-in-out text-[var(--tw-primary-dark)] hover:text-[var(--tw-primary)] hover:bg-[var(--tw-primary-accent-bg)]"
      >
        Home
      </a>

      <a
        routerLink="/notes/list"
        routerLinkActive="nav-link-active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="px-3 py-2 rounded-md transition-all duration-200 ease-in-out text-[var(--tw-primary-dark)] hover:text-[var(--tw-primary)] hover:bg-[var(--tw-primary-accent-bg)]"
      >
        Notes
      </a>
    </div>
  </div>
</nav>
