<app-pagelayout [fullWidth]="true" [withFooter]="false">
  <app-note-card
    [note]="{
      id: '1',
      title: 'Hello',
      content:
        'llolte stlo ltestl oltes tloltestlo ltestlolte stvasdsadas dsadasdads aloltes tloltestlo ltestlolte stloltes tloltestlo ltest olte st',
      updatedAt: '2024-05-20'
    }"
    [onSelect]="select()"
  />
  <!--<app-card className="my-extra-shadow">
    <app-card-header>Header content</app-card-header>
    <app-card-content>Main body</app-card-content>
    <app-card-footer>Footer actions</app-card-footer>
  </app-card>-->
</app-pagelayout>
