<div
  class="max-h-[70vh] flex flex-col bg-[var(--tw-bg)] rounded-xl overflow-hidden"
>
  <div class="p-3 sm:p-6 space-y-4 sm:space-y-6 overflow-y-auto flex-1">
    @if (currentView() === 'recording') {
    <!-- Language Selector -->
    @if (hasSpeechRecognition()) {
    <app-transcription-settings-picker
      [(selectedTranscriptionSetting)]="selectedTranscriptionSetting"
      [disabled]="isRecording()"
    ></app-transcription-settings-picker>
    }
    <!-- Record Button -->
    <div class="flex flex-col items-center space-y-3">
      <app-record-button
        [state]="recordingState()"
        [ariaLabelInput]="recordLabel()"
        (buttonClick)="toggleRecording()"
      ></app-record-button>

      <!-- Audio Level Bar or Mic Selector -->
      @if (isRecording()) {
      <app-audio-level-bar [voiceLevel]="voiceLevel()"></app-audio-level-bar>
      } @else if (hasMicrophonePermission()) {
      <app-mic-selector
        (deviceSelected)="onDeviceSelected($event)"
      ></app-mic-selector>
      }
      <p class="text-center text-sm text-[var(--tw-border-dark)]">
        {{ recordLabel() }}
      </p>
    </div>
    } @if (currentView() === 'preview') {
    <!-- Note Name Input -->
    <app-note-name-input [(noteName)]="noteName"></app-note-name-input>
    <app-add-tags
      [availableTags]="availableTags()"
      [(noteTags)]="noteTags"
      [(currentTag)]="currentTag"
    ></app-add-tags>
    }
    <!-- Preview Area -->
    @if (audioBlob()) {
    <div class="space-y-2">
      <h3 class="text-sm font-semibold text-[var(--tw-primary-dark)]">
        Audio Preview
      </h3>
      <div
        class="bg-[var(--tw-bg-light)] rounded-lg p-4 border border-[var(--tw-border-light)]"
      >
        <div class="flex items-center gap-3">
          <audio
            #audioElement
            [src]="audioSrc()"
            controls
            preload="auto"
            class="w-full"
          ></audio>
        </div>
      </div>
    </div>
    } @if (transcriptText()) {
    <div class="space-y-2">
      <h3 class="text-sm font-semibold text-[var(--tw-primary-dark)]">
        Transcript:
      </h3>
      <div
        class="bg-[var(--tw-bg-light)] rounded-lg p-4 border border-[var(--tw-border-light)]"
      >
        <p class="text-sm text-[var(--tw-primary-dark)]">
          {{ transcriptText() }}
        </p>
      </div>
    </div>
    }
  </div>

</div>
