<div class="flex flex-col gap-2">
  <div class="flex flex-col gap-2 w-full">
    <label for="tag-input" class="text-sm text-[var(--tw-border-dark)]">
      Add tags
    </label>
    <div class="flex items-center gap-2">
      <input
        id="tag-input"
        type="text"
        class="w-full p-3 border border-[var(--tw-border-light)] rounded-lg bg-[var(--tw-bg-light)] text-[var(--tw-primary-dark)] focus:ring-2 focus:ring-[var(--tw-primary)] focus:border-transparent transition-shadow duration-150 ease-in-out placeholder:text-slate-400"
        placeholder="e.g.,  meeting, important, todo, personal"
        [(ngModel)]="tagInput"
      />
      <app-button (buttonClick)="addTag()" [disabled]="disabled()"
        >Add Tag</app-button
      >
    </div>
  </div>
  <div class="mt-2 flex flex-wrap gap-2">
    @for (tag of tagsAsArray(); track tag.id) {
    <div
      class="flex items-center gap-2 rounded-full bg-[var(--tw-primary)] px-3 py-1 text-sm text-white"
    >
      <span>{{ tag.name }}</span>
      <button
        (click)="removeTag(tag)"
        class="flex h-4 w-4 items-center justify-center rounded-full bg-white text-black bg-opacity-20 transition-colors hover:bg-opacity-30"
      >
        x
      </button>
    </div>
    }
  </div>
</div>
