<section
  class="relative py-16 bg-gradient-to-b from-[var(--tw-bg)] to-[var(--tw-bg-light)]"
>
  <div class="container mx-auto px-4">
    <div class="max-w-4xl mx-auto">
      <div class="text-center">
        <h2
          class="text-3xl sm:text-4xl font-bold text-[var(--tw-primary-dark)] mb-6"
        >
          Ready to Start Taking Beautiful Notes?
        </h2>
        <p class="text-lg text-[var(--tw-text-muted)] mb-8">
          Experience a smarter way to capture your thoughts.
        </p>
        <app-button
          [link]="'/notes/create'"
          [queryParams]="{ CTA: 'true' }"
          class="transform hover:scale-105 transition-transform duration-200"
        >
          <app-microphone-icon [size]="16" />
          <span class="font-bold text-white">Get Started</span>
        </app-button>
      </div>
    </div>
  </div>
  <div
    class="absolute bottom-0 left-0 right-0 h-16 bg-gradient-to-t from-[var(--tw-bg-light)] to-transparent"
  ></div>
</section>
